@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 150px;
    background-color:hsl(212, 45%, 89%);
    font-family: 'Outfit' ,sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    max-width: 360px;
    margin: 0 auto;
}

.box{
    margin: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

.box img{
    width: 100%;
    border-radius: 15px;
}

.text{
    font-size: 0.750rem;
    padding: 10px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.text p{
    font-size: 1rem;
    padding: 15px 15px;
    color: hsl(220, 15%, 55%);
}

footer{
    color: hsl(228, 45%, 44%);  
    text-align: center;
    font-size: 11px;
    position: relative;
}
